* {
box-sizing:border-box;
margin:0;
padding:0;
}

body{
font-family:'poppins',sans-serif;
font-size:16px;
line-height:1.5;
color:black;
background-color:gray;
}
.nava{
	height: 400px;
	width: 100%;
	background-image: url("images/ladi2.png");
}
.conference{
	margin-top: 80px;
	margin-left: 40px;
	font-size: 29px;
}
.conference:hover{
	color: greenyellow;
}
hr{
	margin-left: 377px;
	width: 50%;
	background-color: antiquewhite;
	opacity: 5;
	margin-top: 15px;
  }
.navs{
	height: 65px;
	width: 100%;
	background-color: black;
	position: fixed;
	color: white;
	padding-top: 12px;
	opacity: .7;
}
.upup{
	text-align: center;
}
.na1{
	width: 100%;
	height: 150px;
	background-color:black ;
}
.navimg{
	height: 67%;
	width: 130px;
	margin-left: 10px;
}
ul li ul li{
	display: none;
}
ul li:hover ul li{
	display: block;
	background-color: gray;
    margin: 0;
}
a{
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	margin: 1px;
	color: green;


}
ul li ul li{
	display: none;
	
}

ul li{
	float: left;
	margin-right: 0px;
	list-style: none;

	opacity: .8;
	width: 150px;
	height: 45px;
	text-align: center;
	line-height: 20px;
	color: green;
}
.container{
max-width:1100px;
margin:0 auto;
padding:0 30px;
/*height: 580px;*/
}

.header{
background-color:white;
color:black;
min-height:700px;
padding-top: 30px;


}
.header .container{
display:flex;
align-items:center;
justify-content:space-between;
}

.boxes .container{
display:flex;
justify-content:space-between;

}

.left{
	padding-left: 900px;
}



@media(max-width:768px){
.header .container{
flex-direction:column;
padding-top:20px;
text-align:center;
}

.cols{
	margin-top: 100px;
}
footer{
	margin-top: 200px;
}

.boxes .container{
dispaly:flex;
text-align:center;
}


